<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Maktabtoko</title>
    <meta name="description"
        content="احصل الآن علي أفضل الخدمات البحثية التي تساندك في مشوارك العلمي من توفير مراجع ودراسات سابقة وإعداد الإطار النظري بأفضل سعر وبأعلى جودة. تجعلك تتغلب علي العديد من الصعوبات والعوائق التي تتعرض إليها في مسيرتك العلمية.">
    <meta name="keywords"
        content="مكتبتك،مكتبتكو، مكتبة،ادوات دراسية، دراسة الماجستير، دكتوراه، دراسات سابقة اجنبية، دراسات اجنبية مترجمة، مواقع دراسات أجنبية، الدراسات السابقة في البحث العلمي، موقع للدراسات السابقة، موقع رسائل ماجستير، موقع أبحاث ورسائل ماجستير، مواقع أبحاث علمية اجنبية، الإطار النظري، ترجمة">
    <meta name="author" content="CodeCome">
    <!-- owl carousel style -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.carousel.min.css" />
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap"
        rel="stylesheet">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <style>
        .section_0 {
            z-index: 100;
        }

        .overscrol {
            width: auto;
            /* Set a fixed width for the container */
            white-space: nowrap;
            overflow: auto;
            /* scroll thumb and track */
        }

        .overscrol::-webkit-scrollbar {
            width: 2px;

        }

        .overscrol::-webkit-scrollbar-thumb {

            border-radius: 10px;
            background-color: #d4af37;
            /* Set thumb color for Chrome and Safari */
        }

        .overscrol::-webkit-scrollbar-track {
            width: 2px;
            background-color: rgba(0, 128, 0, 0);
            /* Set track color for Chrome and Safari */
        }

        .ss {
            border: 1px solid rgb(243, 235, 235);
            padding: 50px;

            z-index: 101;
            background-color: rgba(216, 216, 216, 0.263);
            box-shadow: 0px 0px 10px #ffffff;

            border-radius: 10px;
            margin: 50px 10px 10px 10px;
            color: #ffffff;
        }

        .btn {
            display: block;
            padding: 0.7em 1em;
            background: transparent;
            outline: none;
            border: 0;
            color: #d4af37;
            letter-spacing: 0.1em;
            font-family: monospace;
            font-size: 17px;
            font-weight: bold;
            z-index: 1;
            border: 1px solid #189a0d;
            margin-top: 5px;
        }

        .inputs-details h3,
        .inputs-details h4 {
            border: 2px solid rgba(255, 255, 255, 0.447);
            border-radius: 10px;
            padding: 10px;
            margin-top: 10px;
            font-size: 16px;
            max-width: 300px;
            white-space: normal;
            overflow-wrap: break-word;
            max-height: 80px;
            overflow-y: auto;
        }

        .overscoinput::-webkit-scrollbar {
            width: 8px;
        }

        .overscoinput::-webkit-scrollbar-thumb {

            border-radius: 10px;
            background-color: #d4af37;
            /* Set thumb color for Chrome and Safari */
        }

        .overscoinput::-webkit-scrollbar-track {
            width: 2px;
            background-color: rgba(0, 128, 0, 0);
            /* Set track color for Chrome and Safari */
        }

        .header_section_4_1 {
            margin-top: 900px;
        }

        .cardacadame {
            max-width: 400px;
            white-space: normal;
            overflow-wrap: break-word;
            max-height: 370px;
            background-color: rgba(216, 216, 216, 0.263);
            box-shadow: 0px 0px 10px #ffffff;
            font-family: inherit;
            position: relative;
            border-radius: 10px;
            padding: 10px;
        }

        .quotecardacadame {
            color: rgb(203, 6, 6);
            padding-left: 20px;
            position: relative;
        }

        .cardacadame-name {
            font-weight: 700;
            color: rgb(0, 0, 0);
            padding: 35px;
            line-height: 23px;
        }

        .section_descrabtion {
            margin: 50px;
        }
          
    </style>
</head>

<body>
    <!--header section start -->
    <nav class="navbar navbar-dark  fixed-top header" style=" background-color: #212529;">
        <div class="container-fluid">
            <a class="navbar-brand text-start" href="#" style="  color: #ffc107;">مكتبتكو</a>
        </div>
    </nav>
    <br><br>

    <!-- section_1 start -->

    <div class="header_section_5">

        <div class="all-1">
            <div class="profile_picture">

                <img src="{{this.avatar}}">
                <h2>{{this.username}}</h2>
                <div class="h5">
                    <span>{{this.governorate}} - </span>
                    <span>{{this.city}} - </span>
                    <span>{{this.address}} - </span>
                    <!-- <span class="text-warning">{{this.deliveryservice}}</span> -->
                </div>
            </div>
            <div class="print">
                <!-- button 1 -->
                <br>
          <div style="max-width: 200px; margin:0 30px">
                    <a href="https://wa.me/+201064214425" class="btn btn-dark     " style="    width: 150px;
">
                    <span> تواصل معنا</span> 
                                </a>

                </div>
            </div>
            <div class="header_section_4">
                <div class="section_descrabtion  text-center">
                    <div class="cardacadame">
                        <div class="cardacadame-name">
                            <h5 class="text-center text-danger">وصف عن المؤسسة</h5>
                            {{#if descrabtion}}
                            <p class="text-center text-light">{{descrabtion.descrabtionhome}}</ {{else}} <p
                                    class="text-center text-light">لا يوجد وصف للمؤسسة</ {{/if}} p>
                        </div>
                        <div class="quotecardacadame">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 330 307" height="50"
                                width="50">
                                <path fill="currentColor"
                                    d="M302.258 176.221C320.678 176.221 329.889 185.432 329.889 203.853V278.764C329.889 297.185 320.678 306.395 302.258 306.395H231.031C212.61 306.395 203.399 297.185 203.399 278.764V203.853C203.399 160.871 207.902 123.415 216.908 91.4858C226.323 59.1472 244.539 30.902 271.556 6.75027C280.562 -1.02739 288.135 -2.05076 294.275 3.68014L321.906 29.4692C328.047 35.2001 326.614 42.1591 317.608 50.3461C303.69 62.6266 292.228 80.4334 283.223 103.766C274.626 126.69 270.328 150.842 270.328 176.221H302.258ZM99.629 176.221C118.05 176.221 127.26 185.432 127.26 203.853V278.764C127.26 297.185 118.05 306.395 99.629 306.395H28.402C9.98126 306.395 0.770874 297.185 0.770874 278.764V203.853C0.770874 160.871 5.27373 123.415 14.2794 91.4858C23.6945 59.1472 41.9106 30.902 68.9277 6.75027C77.9335 -1.02739 85.5064 -2.05076 91.6467 3.68014L119.278 29.4692C125.418 35.2001 123.985 42.1591 114.98 50.3461C101.062 62.6266 89.6 80.4334 80.5942 103.766C71.9979 126.69 67.6997 150.842 67.6997 176.221H99.629Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
                <br><br>
                <h2 class="h">العروض</h2>
                <div class="section_0 d-flex overscrol ">
                    {{#each chunk}}
                    <div class="ss">
                        <div class="text-center">
                            <img src="{{this.avatar}}" style="width: 150px;height: 150px;border-radius: 50%;">
                        </div>
                        <div class="text-center inputs-details">
                            <br>
                            <label for="username" class="form-label text-danger">اسم الكورس</label>
                            <h3 class="text-center">{{this.name}}</h3>
                            <label for="username" class="form-label text-danger">سعر الكورس</label>
                            <h4 class="text-center text-warning"> <span class="text-danger"><del>{{this.beforprice}}
                                        &pound;</del>
                                </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{this.afterprice}}
                                &pound;</h4>
                            <label for="username" class="form-label text-danger">نوعية الكورس</label>
                            <h4 class="text-center text-warning">{{this.typecourse}} </h4>
                            <label for="username" class="form-label text-danger">محتويات الكورس</label>
                            <h4 class="text-center text-warning overscoinput">{{this.descritioncourse}} </h4>
                            <label for="username" class="form-label text-danger"> السيرة الذاتية للمدرب</label>
                            <h4 class="text-center text-warning overscoinput">{{this.desecribationcotach}} </h4>
                            <label for="username" class="form-label text-danger"> الملاحظات</label>
                            <h4 class="text-center text-warning overscoinput">{{this.notdescriation}} </h4>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="header_section_4 header_section_4_1">
                <br><br>
                <h2 class="h">
                    <img src="/images/review.png" style="width: 100px;height: 100px;border-radius: 50%;">Review
                </h2>
                <div class="print-1">
                    <div>
                        <a href="/home/{{this.id}}/upload2" class="btn btn-primary">
                            كتابة تعليق
                        </a>
                    </div>
                </div>
                <div class="section_0 d-flex overscrol ">
                    <!-- button 1 -->
                    {{#each commint}}
                    <div class="ss">
                        <div class="text-center">
                            <img src="/images/parson.png" style="width: 50px;height: 50px;border-radius: 50%;">
                            <h4 class="text-center">{{this.namecommint}}</h4>
                            <h5 class="text-center text-warning">{{this.massagecommint}} </h5>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <!-- footer section start -->
    <div class="footer_section layout_padding">
        <div class="container">
            <div class="text-center ">
                <div style="padding: 30px;background-color: #FDFEFE;border-radius: 20px;"></div>
            </div>
            <div class="footer_section_2">
                <div class="row">
                    <div class="col-lg-3 margin_top">
                        <div class="call_text"><a href="#"><img src="/images/call-icon1.png"><span
                                    class="padding_left_15">Call Now
                                    +201064214425</span></a></div>
                        <div class="call_text"><a href="#"><img src="/images/mail-icon1.png"><span
                                    class="padding_left_15">maktabtoko@gmail.com</span></a></div>
                    </div>
                    <div class="col-lg-3">
                        <div class="information_main">
                            <h4 class="information_text">social media</h4>
                            <p class="many_text">
                                Facebook
                                <br>
                                Twitter
                                <br>
                                LinkedIn
                                <br>
                                Instgram
                                <br>
                                Youtube
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="information_main">
                            <h4 class="information_text">Our Services</h4>
                            <p class="many_text">
                                Study office services
                                <br>
                                educational services
                                <br>
                                commercial services
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="information_main">
                            <h4 class="information_text">Quick Linkes</h4>
                            <p class="many_text">
                                Home
                                <br>
                                Login
                                <br>
                                Register
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer section end -->
    <!-- copyright section start -->
    <div class="copyright_section">
        <div class="container">
            <p class="copyright_text">© 2024 All Rights Reserved. <a
                    href="https://www.facebook.com/profile.php?id=100078522217484" target="_blank">CodeCome</a></p>
        </div>
    </div>
    <!-- copyright section end -->
    <!-- Javascript files-->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/jquery-3.0.0.min.js"></script>
    <script src="/javascripts/plugin.js"></script>
    <!-- sidebar -->
    <script src="/javascripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/custom.js"></script>
    <!-- javascript -->
    <script src="/javascripts/owl.carousel.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>